{% extends "base.html" %}


{% block content %}
    <h2>{{ blog.title }}</h2>
    <hr>
    <ul class="list-group">
        {% for post in posts %}
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'post' post.id %}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <div>
                        Posted by <b>{{ post.creator }}</b>
                        <br>
                        <p class="h5">{{ post.title }}</p>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ post.created_at.date }}</span>
                </a>
                {% if user == blog.owner or user.is_staff %}
                    <div>
                        <form action="{% url 'post_delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        <form action="{% url 'post_edit' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Edit</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% endblock content %}