{% extends "base.html" %}


{% block content %}
    <h2>{{ post.title }}</h2>
    <hr>
    <p class="h6">{{ post.body }}</p>
    <hr>
    <ul class="list-group">
        {% for comment in comments %}
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'post' comment.id %}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <div>
                        Commented by <b>{{ comment.owner }}</b>
                        <br>
                        <p class="h6">{{ comment.body }}</p>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ comment.created_at.date }}</span>

                </a>
                {% if user == comment.owner or user.is_staff %}
                    <button type="button" class="btn-close" aria-label="Close"></button>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% endblock content %}